# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
weather_data = pd.read_csv("../WeatherPy/cities.csv")
weather_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Rikitea,4,PF,1587948645,76,-23.12,-134.97,75.51,14.70
1,1,Mataura,96,NZ,1587948640,77,-46.19,168.86,55.99,11.99
2,2,Iqaluit,90,CA,1587948662,73,63.75,-68.51,23.00,13.87
3,3,Atuona,11,PF,1587948641,74,-9.80,-139.03,82.49,16.78
4,4,Smithers,90,CA,1587948656,61,54.78,-127.17,46.40,10.29

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
# configure gmaps

gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [6]:


# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
74,74,Mossamedes,0,AO,1587948719,64,-15.20,12.15,72.10,7.76
82,82,Umluj,0,SA,1587948945,51,25.02,37.27,70.05,8.70
259,259,Quelimane,0,MZ,1587948904,88,-17.88,36.89,71.31,4.43
260,260,Grand Gaube,0,MU,1587948645,91,-20.01,57.66,73.99,1.01
643,643,Mossamedes,0,AO,1587948719,64,-15.20,12.15,72.10,7.76
651,651,Umluj,0,SA,1587948945,51,25.02,37.27,70.05,8.70
828,828,Quelimane,0,MZ,1587948904,88,-17.88,36.89,71.31,4.43
829,829,Grand Gaube,0,MU,1587948645,91,-20.01,57.66,73.99,1.01

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

            City Country    Lat    Lng Hotel Name
74    Mossamedes      AO -15.20  12.15
82         Umluj      SA  25.02  37.27
259    Quelimane      MZ -17.88  36.89
260  Grand Gaube      MU -20.01  57.66
643   Mossamedes      AO -15.20  12.15
651        Umluj      SA  25.02  37.27
828    Quelimane      MZ -17.88  36.89
829  Grand Gaube      MU -20.01  57.66

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure